@CHARSET "ISO-8859-1";

#view_task {
	padding-right: 10px;
}

#view_task .glyphicon, #view_task .glyphicon:hover {
	text-decoration: none;
}
#view_task .remove {
	float: right;
	font-size: 18px;
}
