@CHARSET "ISO-8859-1";

#loguear {
	margin-left: 10px;
}

#loguear label {
	width: 130px;
	display: inline-block;
}

#loguear p {
	margin: auto;
	padding: 10px;
}

#loguear input {
	width: 130px;
	display: inline-block;
}
.border {
	margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
}