@CHARSET "ISO-8859-1";

#loguear {
	margin-left: 10px;
}

#loguear label {
	width: 130px;
	display: inline-block;
}

#loguear p {
	margin: auto;
	padding: 10px;
}

.border {
	margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.19),0 1px 10px 0 rgba(0,0,0,.24);
}

.container-center {
    margin: auto;
    width: 100%;
    display: block;
}
.container-center .border {
    float: none;
    margin: auto;
}