@CHARSET "ISO-8859-1";

#index {
	height: 100%;
}

#index h1 {
	margin: auto;
	text-align: center;
}

#utility {
	text-align: center;
}

.justify {
	text-align: justify;
	margin: 40px;
}

.alto {
	height: 10px;
}

.menu_right {
	float: left;
	width: 80%;
	height: 100%;
	overflow-y: scroll;
	background-color: #FFF;
	border-radius: 4px;
}

.menu_left {
	float: left;
	width: 20%;
	height: 100%;
	overflow-y: scroll;
	color: #000;
	padding: 7px;
}

.new_task {
	width: 100%;
	margin: 0;
	padding-right: 35px;
}

.menu_right .glyphicon-plus {
	float: right;
	position: relative;
	top: -30px;
	left: -10px;
	display: inline;
	font-size: 27px;
	height: 0px;
}

.projects_list,.users_list {
	padding: 0;
}

.projects_list li,.users_list li {
	padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    list-style-type: none;
    border-radius: 4px;
    background-color: white;
    margin: 5px 0;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.19),0 1px 10px 0 rgba(0,0,0,.24);
}

.project,.user {
	width: auto;
	display: inline-block;
}

.edit_project,.edit_user {
	position: relative;
	top: 0px;
}

.tasks_list {
	color: #5D5A5A;
	font-weight: normal;
	padding: 1px 0;
}

.tasks_list .user {
	font-size: 0.8em;
	color: #5D5A5A;
}

.tasks_list .show_status {
	text-decoration: none;
	vertical-align: middle;
	width: 4%;
	text-align: center;
}

.tasks_list .title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	cursor: move;
}

.tasks_list li {
	line-height: 2;
	height: 30px;
	margin: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.19),0 1px 10px 0 rgba(0,0,0,.24);
}

.tasks_list li.drag  {
	background-color: #E9EAED;
	opacity: 0.6;
}

.tasks_list .created {
	font-size: 0.7em;
}

.create_task_form,.search_form {
	padding: 10px;
}
.search_form {
    border-bottom: 1px solid #eee;
}
.search_form {

}

.search_form .glyphicon {
	float: left;
	left: 178px;
	font-size: 13px;
	top: -23px;
}

.search_form .search_task {
	width: 200px;
}

.glyphicon-ok-circle {
	color: #5ca77c;
}

.glyphicon-record {
	color: #2EB6FA;
}

.glyphicon-play-circle {
	color: #E1DE00;
}

.tasks_list .task_users {
	width: 15%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
}

.detail_task {
	position: fixed;
	width: 40%;
	top: 1px;
	height: 100%;
	right: 1px;
	background-color: #E9EAED;
	display: none;
	border-left: 2px solid;
	padding-left: 10px;
}

.detail_task:hover {
	overflow-y: scroll;
}

.tasks_list .selected {
//	background-color: #E9EAED;
}

.menu_left h1 {
	font-size: 12px;
}

.filters {
	clear: both;
	width: 100%;
	display: inline-block;
}

.user_logged {
	padding-right: 10px;
}

@media ( max-width : 1300px) {
	.menu_left {
		width: 25%;
	}
	.menu_right {
		width: 75%;
	}
}

@media ( max-width : 800px) {
	.menu_left {
		width: 30%;
	}
	.menu_right {
		width: 70%;
	}
}

@media ( max-width : 740px) {
	.menu_left {
		width: 40%;
	}
	.menu_right {
		width: 60%;
	}
}

.badge.closed {
	background-color: #5ca77c;
}

.badge.openned {
	background-color: #2EB6FA;
}

.detail_task .cargando {
	height: 100%;
	display: flex;
}

.detail_task .cargando img {
	margin: auto;
}

.ui-dialog {
	z-index: 100;
}

.subtask {
	display: none;
}

li.subtask {
	display: list-item;
    background-color: #FFF;
    margin: 10px;
    border: none;
}

div.subtask {
	padding: 1px 0;	
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.new_subtask_div {
	padding: 10px 10px 10px 10px;
}

.container {
	padding-left: 0px;
}

.remove_task {
	width: 4%;
}

.tasks_list .title {
	width: 75%;
}

.subtask .title {
	width: 80%;
}